<html>
    <head>
        <title>Welcome Page</title>
        <style>
            body{
                background-color: hsla(137, 51%, 43%, 0.842),;
                color: rgba(49, 44, 44, 0.812);
                font-size: 25px;
                padding: 80px;
            }
        </style>
    </head>
    <body>
        <center><h1>hello {{name}} <br> Welcome !!! <br> you succesfully LOGGED IN <br> thank you</h1></center>

        <h1><a href="http://localhost:8000/login/"> Login !! </a></h1>
        <h1><a href="http://localhost:8000/signup/"> signup !! </a></h1>
        
    </body>

</html>